*{
    padding:0;
    margin: 0;
    box-sizing:border-box;
    text-decoration: none;
    list-style: none;
}
.app{
    display: flex;
    flex-direction: column;
}

.header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    padding-left: 1.1rem;
    background: #f6F8f9;
}

.logo{
    color:#FA6980;
   width: 12,5%;
}

.nav{
    flex:1;
    text-align:right;
}
.user{
    width: 12,5%;
}
.user img {
    width: 50px; 
    height:50px;
    border-radius:50% ;
}
.nav_list{
    display: inline-block;
    list-style: none;
}

.nav_list li{
    display: inline-block;
    text-decoration: none;
}

.nav_list a {
    color:#343638;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    padding-right: 1.5rem;
}
main
{
flex:1;
}
footer{
    display: flex;
    justify-content: space-around;
    width: 100%;
    background: #a6adb4;
    padding-top: 2rem;
    overflow: hidden;
}

.nav_footer .nav_list-footer {
    display: flex;
    list-style: none;
}

.nav_footer .nav_list-footer .list {
    padding: 1rem;
}
.nav_footer .nav_list-footer .list a h4{
    color: #fff;
    text-transform: uppercase;
} 
.nav_footer .nav_list-footer .list a {
    text-decoration: none;
    font-weight: 600;
    color: #cbd0d3;
    font-size: 14px;
}

.form_footer
{
    position: relative;
    display: flex;
    flex-direction: column;
}
.form_footer input{
    width: 100%;
    font-size: 16px;
    border-radius:10px ;
    border: none;
    background: #cbd0d3;
    padding: 0.7rem;
    margin-bottom: 0.5rem;

}
.form_footer .far{
    position: absolute;
    right: 20px;
    top: 15px;
}

.form_footer p{
    color:#cbd0d3;
    font-size: 1.1rem;
}

.logo_footer {
    width: 20%;
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;
    color: #fff;
}

.row{
    display: flex;
}

.col-1{ 
width: 60%;
}
.col-1 .image{

    position: relative;
}
.col-1 .image img {
    width: 100%;
}
.col-1 .a{
    top: 50%;
    left: 50%;  
    position: absolute;
    transform: translate(-50%, -50%);
}
.title{
    color:#fff;
    text-transform: uppercase;
    margin-bottom: 2rem;
    border-bottom: 2px solid #fff;
    padding: 1.5rem 1rem;
    font-size: 24px;
}
.col-1 .a h3 {
    color:#fff;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.col-1 .a p{
    color:#fff;
    margin-bottom: 5px;

}

.btn{
    padding: 0.7rem 1rem;
    border:none ;
    background:#fa6980;
    font-size:13px;
    border-radius: 4px;
    text-transform: uppercase;
    color: #fff;
}

.col-2{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.col-2 .news{
    width: 70%;
    text-transform: uppercase;
    margin-bottom: 2rem;
    border-bottom: 2px solid #cbd0d3;
    padding: 1.5rem 1rem;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
}
.col-2 .news h1{
    font-size: 24px;
}

.col-2 .news div i{
    font-size: 11px;
margin-left: 20px;
}
.col-2 .Description h3{
    color:#fa6980;
    padding: 0.5rem 0;
    font-size: 16px;
    text-transform: uppercase;

}
.fa-chevron-left{
color:#cbd0d3;

}

.col-2 .Description h2{
    font-size: 14px;
    padding: 0.5rem 0;
    
}

.col-2 .Description p{
    color: #cbd0d3;
    padding: 0.5rem 0;
}
.col-2 .Description i {
    padding: 1rem 0;
    margin-right: 10px;
}

.trend{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 2rem;
}


.trend .container{
    width: 80%;
}
 .title_trend{
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
}

.title_trend h1{
    font-size: 16px;
    font-weight: 700;
}

.title_trend div i{
    font-size: 11px;
margin-left: 20px;
}
.right{
    display: flex;
    justify-content: space-between;
}
.col-3{
    width: 32%;
}

.col-3 img {
    border-radius: 3%;
    width: 100%;
}
.col-3 h3{
    font-size: 16px;
    padding: 1rem 0;
}
.col-3 p{
    color: #cbd0d3;
    padding: 0.5rem 0;
}

.col-3 i{
    padding: 1rem 0;
    margin-right: 10px;
}

.flex{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 2rem;
}
.flex .container{
    width: 80%;
}
.small-container{
    display: flex;
    justify-content: space-between;
}
.flex_left{
    width: 50%;
    display: flex;
    justify-content: space-between;

}
.flex_right{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.flex_right .col-3_column img{
    min-width: 120px;
    width: 100%;
}

.col-3_column{
    width: 100%;
}

.col-3_column img {
    border-radius: 3%;
}
.col-3_column h3{
    font-size: 16px;
   
}

.col-3_column i {
    margin-right: 10px;
}
.col-3_column .ic1{
   padding: 1rem 0;
}
.col-3_column .ic2{
    padding: 1rem 0;
 }
.col{ 
    width: 95%;
}
.up{
    margin-bottom: 20px;

}
.col .image{
        position: relative;
    }
    .col .image img {
        width: 100%;
        border-radius: 3%;

    }
    .col .a{
        top:0;
        left:0; 
        position: absolute;
    }
    .col h4{
        color:#fff;
        text-transform: uppercase;
        margin-bottom: 2rem;
        padding: 4rem 1.5rem;
        font-size: 16px;
    }
    .col .a h3 {
        color:#fff;
        text-transform: uppercase;
        margin-bottom: 5px;
        padding-left: 1.5rem;
    }
    
    .col .a p{
        color:#fff;
        margin-bottom: 5px;
        padding-left: 1.5rem;

    }
    .col .a i{
        margin-right: 10px;
        padding-left: 1.5rem;

        color:#fff
    }
    .col .a span{
        color:#fff
    }
    